title {
    display: block;
    width: 100%;
    height: 20px;
    background-color: gold;
    text-align: center; 
}
tr {
    display: block;
    border: 1px solid silver;
    text-align: center;
}
td {
    display: block;
    background-color: silver;
    border: 1px solid silver;
}
university {
    display: block;
    text-align: center;
    border: 1px solid silver;
}
minscore {
    display: block;
    text-align: center;
    border: 1px solid silver;
}
dialplan {
    display: block;
    text-align: center;
    border: 1px solid silver;
}
city {
    display: block;
    text-align: center;
    border: 1px solid silver;
}